<div class="container">
    
    <form [formGroup]="details" (ngSubmit)="check(details.value)">
           
        <!-- {{formDetails.value | json}} -->
        <h1 class="text-danger text-center">Reactive Form</h1>
     
          
        <div class="mb-3">
          <label for="exampleInputName" class="form-label">Name </label>
          <input type="text" class="form-control" id="exampleInputName"  aria-describedby="emailHelp" placeholder="Enter Name" name="name"  formControlName="name"  value="" >
        
        
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email" name="email" formControlName="email" value="" >
            <!-- <span class="text-danger" [class.d-none]="email.valid || email.untouched"> Please Enter Your Email....</span> -->
    
        </div>
        <div class="mb-3">
            <label for="Contact" class="form-label">Contact </label>
            <input type="number" class="form-control" id="contact" aria-describedby="emailHelp" placeholder="Enter Contcat" name="contact"  formControlName="contact" value="" >
           
    
          </div>
    
        
        <button type="submit" class="btn btn-outline-primary w-50 d-block m-auto">Submit</button>
        
        
    
    </form>
</div>
